.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 258px);
    width: 100%;
    margin: 2rem 0;

    .option-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }

    .option-select {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 70px;
        margin: 1rem 0;

        span {
            width: 80%;
            margin: 1rem 0 0.8rem 0;
            padding: 6px;
            border-radius: 10px;
            text-align: center;
            text-decoration: underline $primary-color;
            text-decoration-style: wavy;
            font-weight: $bold !important;
            font-size: 1.2rem;
            color: $dusty-rose-color;
        }

        .submit-option {
            margin: 1rem 0;
            background-color: $primary-color-light;
            color: $bg-color-dark;
        }
    }
}
