.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 258px);
    width: 100%;

    .app-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .app-description {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            .icon-color {
                color: $bg-color-dark;
            }

            &-random {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                width: 35px;
                height: 35px;
                background-color: $primary-color;
                border-radius: 100%;
                top: -12px;
                right: -18px;
            }

            &-input {
                width: 400px;
                height: 50px;
                background-color: $bg-color-dark;
                padding: 0.5rem;
                border-radius: 0.5rem;
                border: 1px dashed $orange-color-dark;
                transition: all 0.15s ease 0s;
                color: $dark-gray-color;
                outline: none;
                text-align: center;
                text-shadow: 1px 1px 1px #c0bdbd;
                margin: 1rem 0;

                &:focus {
                    border: 1px dashed $orange-color-dark;
                }
            }

            .submit-data {
                margin-top: 1rem;
                background-color: $primary-color-light;
                color: $bg-color-dark;
            }
        }
    }
}
