.process-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: calc(100vh - 258px);

    .submit-option {
        margin: 1.5rem 0;
        background-color: $primary-color-light;
        color: $bg-color-dark;
        width: 200px;
    }
}
